.cabecalho {
    width: 100vw;
}

.icons_home {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

#icon_burguer {
    width: 30px;
    margin: 10px 0 0 10px;
}

#icon_logout {
    width: 30px;
    margin: 10px 10px 0 0;
}

.container_navegacao {
    display: none;
    flex-direction: column;
    width: 180px;
    height: 100vh;
    top: 0;
    position: fixed;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.302);
}

.navegacao {
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 130px;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    list-style-type: none;
}

.menu li {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.632);
}

.menu a {
    color: white;
    display: flex;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2em;
}

.menu li:hover {
    background-color: rgba(34, 20, 232, 0.97);
    border-left: 5px solid rgb(253, 131, 0);
    border-bottom: 3px solid white;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 1px 10px black;
}