<main class="apresentacao">
    <section class="container_imagem">
        <img src="img/ranger_login.png" alt="Ranger - Ford">
    </section>

    <section class="container_login">
        <div class="container_logo">
            <img src="img/ford_logo.png" alt="Logo Ford">
        </div>

        <div class="container_forms">
            <form class="formulario" action="">
                <h1 class="titulo">Boas-vindas</h1>
                <div class="div_dados">
                    <img id="icon_user" src="img/icon_user.svg" alt="Icone de usuário">
                    <input type="text" placeholder="Insira seu e-mail">
                    <img id="icon_info" src="img/icon_info.svg" alt="Icone de informação">
                </div>
                <div class="div_dados">
                    <img src="img/icon_lock.svg" alt="Icone de cadeado">
                    <input type="text" placeholder="Insira sua senha">
                </div>

                <div class="texto">
                    <p> Logar automaticamente </p>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                        <div class="div_dados">
                            <img id="icon_info_2" src="img/icon_info.svg" alt="Icone de informação">
                        </div>    
                    </label>
                </div>
                
                <button>
                    Entrar
                </button>
            </form>
        </div>
    </section>
</main>