<app-header></app-header>

<main>
    <div class="titulo_principal">
        <h1 id="id_titulo_principal">Dashboard FORD</h1>
    </div>
    <div class="container_cards">
        <div class="cards">
            <div class="cabecalho_card">
                <h1 class="titulo_card">Veículos</h1>
            </div>
            <div class="menu">
                <select name="" id="">
                    <option value="" selected disabled hidden>Selecione um carro</option>
                    <option value="">Ranger</option>
                    <option value="">Mustang</option>
                    <option value="">Territory</option>
                    <option value="">Bronco Sport</option>
                </select>
            </div>
        </div>
        <div class="cards">
            <div class="cabecalho_card">
                <h1 class="titulo_card">Total de Vendas</h1>
            </div>
            <div class="texto">
                <p>1500</p>
                <span>Unid.</span>
            </div>
        </div>
        <div class="cards">
            <div class="cabecalho_card">
                <h1 class="titulo_card">Conectados</h1>
            </div>
            <div class="texto">
                <p>1500</p>
                <span>Unid.</span>
            </div>
        </div>
        <div class="cards">
            <div class="cabecalho_card">
                <h1 class="titulo_card">Update Software</h1>
            </div>
            <div class="texto">
                <p>1500</p>
                <span>Unid.</span>
            </div>
        </div>
    </div>

    <section class="container_imagem">
        <img id="img_carro" src="img/mustang.png" alt="">
    </section>
</main>