<app-header></app-header>

<main>
    <div class="titulo_principal">
        <h1 id="id_titulo_principal">Dashboard FORD</h1>
    </div>
    <div class="container_cards">
        <div class="cards">
            <div class="cabecalho_card">
                <h1 class="titulo_card">Veículos</h1>
            </div>
            <div class="menu">
                <select name="" id="">
                    <option value="" selected disabled hidden>Selecione um carro</option>
                    <option value="">Ranger</option>
                    <option value="">Mustang</option>
                    <option value="">Territory</option>
                    <option value="">Bronco Sport</option>
                </select>
            </div>
        </div>
        <div class="cards">
            <div class="cabecalho_card">
                <h1 class="titulo_card">Total de Vendas</h1>
            </div>
            <div class="texto">
                <p>1500</p>
                <span>Unid.</span>
            </div>
        </div>
        <div class="cards">
            <div class="cabecalho_card">
                <h1 class="titulo_card">Conectados</h1>
            </div>
            <div class="texto">
                <p>1500</p>
                <span>Unid.</span>
            </div>
        </div>
        <div class="cards">
            <div class="cabecalho_card">
                <h1 class="titulo_card">Update Software</h1>
            </div>
            <div class="texto">
                <p>1500</p>
                <span>Unid.</span>
            </div>
        </div>
    </div>

    <section class="container_imagem">
        <img id="img_carro" src="img/mustang.png" alt="">
    </section>

    <footer class="rodape">
        <table class="tabela">
            <tr>
                <th>
                    Código - Vin
                </th>
                <th>
                    Odômetro
                </th>
                <th>
                    Nível de Combustível
                </th>
                <th>
                    Status
                </th>
                <th>
                    Lat.
                </th>
                <th>
                    Long.
                </th>
            </tr>
            <tr class="tabela_infos">
                <td id="item_input">
                    <input type="text">
                </td>
                <td>
                    50000 KM
                </td>
                <td>
                    90%
                </td>
                <td>
                    On
                </td>
                <td>
                    -12,2322
                </td>
                <td>
                    -35,2314
                </td>
            </tr>
            <tr id="linha_azul_rodape">
            </tr>
        </table>
    </footer>
</main>