main {
    height: 100vh;
    display: flex;
    background-image: url('/img/ranger_login.png');
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
}

nav {
    display: flex;
}


.bem-vindo {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    margin: auto;
    font-size: 0.7rem;
    background-color: rgba(255, 255, 255, 0.850);
    border: 2px solid rgba(142, 142, 142, 0.86);
    border-radius: 5px;
}

.bem-vindo header {
    background-color: rgba(169, 169, 169, 0.725);
    padding: 15px;
}

.bem-vindo h2 {
    color: rgb(35, 32, 216);
    padding: 15px;
    font-size: 1.4rem;
}